{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h1 style="text-align: center;font-style: oblique; ">Welcome to Hospital Management System</h1>
        </div>
    </div>

</div>
<li>
    <div style="background-color: lightblue; border-radius: 3%;  border-color: yellow; " class="container">
        <h1>Services We Provides</h1>
        <ul>
            <h3>Dental Treatment</h3>
            <ol>
                <h5>Tooth checkup</h5>
                <h5>Tooth Decay</h5>
                <h5>Gum Disease</h5>
                <h5>Bad Breath</h5>
                <h5>Sensitive Teeth</h5>
                <h5>Cracked or Broken Teeth</h5>
                <h5>Receding Gums</h5>
                <h5>Root Infection </h5>
                <h5>Enamel Erosion</h5>
            </ol>
            <h3> Brain Treatment</h3>
            <ol>
                <h5>Alzheimer's Disease.</h5>
                <h5>Dementias.</h5>
                <h5>Brain Cancer</h5>
                <h5>Epilepsy and Other Seizure Disorders.</h5>
                <h5>Mental Disorders.</h5>
                <h5>Parkinson's and Other Movement Disorders.</h5>
                <h5>Stroke and Transient Ischemic Attack (TIA)</h5>
            </ol>
            <h3>Bone Diseases Treatment</h3>
            <ol>
                <h5>Osteoporosis</h5>
                <h5>Metabolic bone diseases</h5>
                <h5>Fracture.</h5>
                <h5>Stress fracture</h5>
                <h5>Bone cancer</h5>
                <h5>Scoliosis</h5>
            </ol>
        </ul>
    </div>
</li>


{% endblock body %}