<html>
<head>
<title>Services</title>
</head>
<body>
<div id="d12">
<br><u><h2 align="center">Services Offered</h2></u>
</div>
<table id="t">
<tr border="1px" bgcolor="#7ba5de">
<th><font color="#c75050">Routine</font></th>
<th><font color="#c75050">Esthetic/Cosmetic</font></th>
<th><font color="#c75050">Pediatrics/Child Dentistry</font></th>

</tr>
<tr>
<td>Root canal treatment</td>
<td>Crowns/bridges</td>
<td>Fillings</td>
</tr>
<tr>
<td>Post and Core</td>
<td>Veneers/laminates</td>
<td>Sealants</td>
</tr>
<tr>
<td>Full mouth prophylaxis (cleaning)</td>
<td>Bleaching (tooth whitening)</td>
<td>Topical flouride application</td>
</tr>
<tr>
<td>Cavity fillings</td>
<td>Diastema (space) closure</td>
<td>Root canal treatment</td>
</tr>
<tr>
<td>Basic Extractions</td>
<td>Enlays/onlays</td>
<td>Crowns</td>
</tr>
<tr>
<td>Complete/partial dentures </td>
<td>Gums recontouring</td>
<td>Space maintainers</td>
</tr>
<tr>
<td>sealants</td>
<td>Smile designing</td>
<td>Supervised development/extraction of non-shedding teeth</td>
</tr>
<tr>
<td>Topical flouride application</td>
<td>Smile make-over</td>
<td>Habit breakers</td>
</tr>
<tr>
<td></td>
<td>Smile enhancement</td>
<td>Cleft lips and cleft palate treatment (conservative and surgical)</td>
</tr>
</table>
<table id="tt">
<tr border="1px" bgcolor="#7ba5de">
<th><font color="#c75050">Specialized</font></th>
<th><font color="#c75050">Surgical</font></th>
</tr>
<tr>
<td>Orthodontic treatment (Fixed/removable/with implants)</td>
<td>Surgical extraction of impacted teeth</td>
</tr>
<tr>
<td>Oral cancer diagnosis</td>
<td>implants</td>
</tr>
<tr>
<td>Tooth splinting</td>
<td>Incision & drainage of abscesses</td>
</tr>
<tr>
<td>Intentional tooth re-implantation</td>
<td>Cryst enucleations</td>
</tr>
<tr>
<td>Full mouth rehabilitation</td>
<td>Oral-antral fistula closures</td>
</tr>
<tr>
<td>Syndrome management</td>
<td>Excision of lesions</td>
</tr>
</table>
</body>
</html>